{% extends 'myblock/base.html' %}

{% block content%}

<div class="container" style="margin-top: 100px; margin-bottom: 50px">
	<center>
		<h1>Donate us!</h1>
		<img src="https://scontent.xx.fbcdn.net/v/t1.15752-0/p228x119/143126007_1172527229833423_473486850136466156_n.png?_nc_cat=100&ccb=2&_nc_sid=58c789&_nc_eui2=AeGv4Ml7-0QAQwpJ_Mjg2vmXbz4zSk5O1Z5vPjNKTk7VnpfDeSKy6quD9HDm9H2f-zHxr43UcS5uBoIuJQ0TT0RR&_nc_ohc=xqekkgd-EaEAX93CNI1&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&_nc_tp=30&oh=8f04de182a52c57e39082e5a3cb7206d&oe=6037D354">
	</center>
</div>
<style type="text/css">
	body {
		background-color: #9bfac9
	}
</style>

{% endblock %}